<!DOCTYPE HTML>
<html>
<head>
    <title>Post Form</title>
</head>
<body>
<h1>Form 을 이용하여 Post 요청 실습 페이지</h1>

<form action="/users/form" method="post">
    <label>이름: </label>
    <input name="name" type="text"><br>
    <label>이메일: </label>
    <input name="email" type="text"><br>
    <label>나이: </label>
    <input name="age" type="text"><br>
    <input type="submit" value="전송">
</form>

</body>
</html>